.contact {
  background: #1e1e1e;
  color: white;
  padding: 4rem;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: auto;
}

.contact input, .contact textarea {
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background: #2c2c2c;
  color: white;
}

.contact button {
  background: #ff4081;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
}
.contact button:hover {
  background: #e73370;
}

.socials {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.socials a {
  color: #00adb5;
  text-decoration: none;
  font-weight: bold;
}
.socials a:hover {
  text-decoration: underline;
}
